*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

.banner {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url("./imgs/vv.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background: #fff;
}

.banner header nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.banner header nav ul li {
    font-size: 13px;
    font-weight: 500;
}

.banner header nav button {
    background: transparent;
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 13px;
    font-weight: 500;
}

.banner header nav button i {
    font-size: 18px;
}